.game {
  max-width: 500px;
  margin: 20px auto 0;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left,
.right {
  width: 50%;
  padding: 10px;
  text-align: center;
  border: thin solid #ddd;
  color: black;
}

.star {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../assets/star.svg);
  margin: 5px 15px;
  fill: white;
}

.star:after {
  /* content: "\2605"; */

  font-size: 45px;
}

.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.number:hover {
  background-color: rgb(231, 199, 199);
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}
